
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href={% static 'static_recipe_website/style.css' %}>
</head>
<body>
    <header class="header">
        <div class="menu_header">
            <a href="{% url "recipe_website:index_page" %}"><h2>Главная</h2></a>
            {% if user.is_authenticated %}
                <a href="{% url "recipe_website:my_recept" %}"><h2>Мои рецепты</h2></a>
                <a href="{% url "recipe_website:create_recept" %}"><h2>Написать рецепт</h2></a>
                <a href="{% url "recipe_website:logout" %}"><h2>Выход</h2></a>
                 {% else %}
                <a href="{% url "recipe_website:registration" %}"><h2>Регистрация</h2></a>
                <a href="{% url "recipe_website:login" %}"><h2>Вход</h2></a>
            {% endif %}
        </div>

    </header>

    <div class="top_1">
        <div class="left_bar">
            {% block left_bar %}
                <div class="left_bar_text">
                    {% for category, recipes in dict_categories.items %}
                        <div class="category">
                            <h3><a href="{% url 'recipe_website:categories' pk=category.1 %}">{{ category.0 }}</a></h3>
                            {% for recept in recipes %}
                                <a href="{% url 'recipe_website:recept_detail' pk=recept.pk %}">{{ recept.name_recept }}</a>
                                <br>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>

            {% endblock %}
        </div>
        <div class="right_bar">
            <div class="list_text_center">
                {% block right_bar %}

                {% endblock %}
            {% block navigation %}
                <nav class="list-pages">
                        {% for p in page_obj.paginator.page_range %}
                                {% if page_obj.paginator.num_pages == 1 %}
                                    <p class="page-num">
                                    ...
                                    </p>
                                {% elif page_obj.number == p %}
                                    <p class="page-num">{{ p }}</p>
                                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                                    <a href="?page={{ p }}"><p class="page-num page-num-selected">{{ p }}</p></a>
                                {% endif %}
                        {% endfor %}
                </nav>

            {% endblock %}
            </div>
        </div>

    </div>
</body>
</html>