{% extends 'recipe_website/index.html' %}
{% block title %}
    Категория
{% endblock %}
{% block right_bar %}
    {% if is_authenticated %}
        <h2><a href="{% url "recipe_website:my_recept" %}">Мои рецепты</a></h2>
    {% endif %}
    <h2>{{ category_name }}</h2>
    <ul>
        {% for recipe in recipes %}
            <div class="recept">
                    <div class="recept_image">
                        <img src="{{ recipe.image.url }}" alt="Фото" width="160px" height="160px">
                    </div>
                    <div class="recept_text">
                        <h3><a href="{% url 'recipe_website:recept_detail' pk=recipe.pk %}">{{ recipe.name_recept }}</a></h3>
                        <p>Время приготовления: {{ recipe.get_time_str }}</p>
                        <p>{{ recipe.description }}</p>
                        <p>Автор: {{ recipe.user }}</p>
                    </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}