{% extends 'recipe_website/index.html' %}
{% block title %}
    Категория
{% endblock %}
{% block right_bar %}
    {% if user.is_authenticated %}
        <h1><a href="{% url "recipe_website:my_recept" %}">Мои рецепты</a></h1>
    {% endif %}
    <h2>{{ category_name }}</h2>
    <ul>
        {% for recept in recipes %}
            <div class="recept">
                    <div class="recept_image">
                        <img src="{{ recept.image.url }}" alt="Фото" width="160px" height="160px">
                    </div>
                    <div class="recept_text">
                        <h3><a href="{% url 'recipe_website:recept_detail' pk=recept.pk %}">{{ recept.name_recept }}</a></h3>
                        <p>Время приготовления: {{ recept.get_time_str }}</p>
                        <p>{{ recept.description }}</p>
                        <p>Автор: {{ recept.user }}</p>
                    </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}