{% extends 'recipe_website/index.html' %}
{% block title %}
    Категория
{% endblock %}

{% block right_bar %}
{#        <h1>Рецепты</h1>#}
    <ul>
        {% for recept in recipes %}
            <li>
                <h3><a href="{% url 'recipe_website:recept_detail' pk=recept.pk %}">{{ recept.name_recept }}</a></h3>
                <img src="{{ recept.image.url }}" alt="Фото" width=100px>
                <p>Время приготовления: {{ recept.cooking_time|time:"h:i" }}</p>
                <p>{{ recept.description }}</p>
                <p>{{ recept.cooking_steps|truncatewords:10 }}</p>
                <p>Автор: {{ recept.user }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}