{% extends 'recipe_website/index.html' %}
{% block title %}
    Страница индекс
{% endblock %}

{% block right_bar %}
    <h2>Мои рецепты</h2>
        <div class="categories_my_recept">
            {% for category, _ in dict_categories.items %}
                <div>
                    <h3><a href="{% url 'recipe_website:my_recept_category' pk=category.1 %}">{{ category.0 }}</a></h3>
                </div>
            {% endfor %}
        </div>
            {% for recept in page_obj %}

                <div class="recept">

                    <div class="recept_image">
                        <img src="{{ recept.recipes.image.url }}" alt="Фото" width="160px" height="160px">
                    </div>
                    <div class="recept_text">
                        <h3><a href="{% url 'recipe_website:recept_detail' pk=recept.recipes.pk %}">{{ recept.recipes.name_recept }}</a></h3>
                        <p>Время приготовления: {{ recept.recipes.get_time_str }}</p>
                        <p>{{ recept.recipes.get_description }}</p>
                        <p>Автор: {{ recept.recipes.user }}</p>
                        <div class="update">
                            <p><a href="{% url 'recipe_website:recept_update' pk=recept.pk %}">Редактировать</a></p>
                            <p><a href="{% url 'recipe_website:recept_delete' pk=recept.pk %}">Удалить</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
{% endblock %}